.background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background img {
  max-width: 70%;
  max-height: 70%;
}
.background textarea {
  width: 350px;
  height: 450px;
}
