.background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background .supporting {
  max-width: 70%;
  max-height: 70%;
  overflow: hidden;
}

.background img {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
  position: relative;
  touch-action: none;
}

.background textarea {
  width: 350px;
  height: 450px;
  margin-top: 20px;
  padding: 10px;
  resize: none;
}
