.background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(247, 253, 220);
}

.background .supporting {
  max-width: 70%;
  max-height: 70%;
  background-color: beige;
  overflow: hidden;
}

.background img {
  display: block;
  width: 100%;
  height: auto;
}

.background textarea {
  width: 350px;
  height: 450px; 
  margin-top: 20px;
  padding: 10px;
  resize: none;
}
